html {
  font-size: .9em;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  max-width: 100vw;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  max-width: 100vw;
}

.App {
  width: 100%;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.flex {
  display: flex;
  align-items: center;
}